
/* Customize fonts */
body, label, input, button, select { 
  font-family: "Recoleta", Recoleta Regular !important;
  font-weight: 200;
}
h1, h2, h3 { font-weight: 300; }
h4 { font-weight: 200; }


#controls {
  /* Appearance */
  background-color: #bc2929;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  transition: opacity 0ms ;
  
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 1;
  transition-delay: 0;
}

#controls1 {
  /* Appearance */
  background-color: #bc2929;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  transform: translateX(-50%);
}

#controls1:hover {
  /* Fade in while hovering */
  opacity: 1;
}

#controls2 {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 1;
  transform: translateX(-50%);
}

#controls2:hover {
  /* Fade in while hovering */
  opacity: 1;
}

.form-control {
    border-radius: 12px;
}
.selectize-input {
    border-radius: 12px;
}


.mycheckbox .shiny-input-container {
  display: inline-block;
  width: auto;
}

.navbar-default {
    background-color: #bc2929 !important;
	border-bottom: 0px !important; 
}

.navbar-default:hover {
    background-color: #bc2929 !important;
    color: white;
}


.navbar-default .navbar-brand {color: white;}
.navbar-default .navbar-brand:hover {color: white;}  /* font-weight: bold; */
.navbar-brand {padding-top: 10px;}
.navbar { background-color: #bc2929!important; border-bottom: 0px !important;}
.navbar-default .navbar-nav > li > a {color:white;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {color: white;background-color: #e89696; font-weight: bold;}
.navbar-default .navbar-nav > li > a:hover {color: white;background-color: #e89696; font-weight: bold;}


.containerS {
  color: #bc2929;
  background-image: url(background_image2.jpg);
  background-repeat: no-repeat;
  background-size: 700px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  height:auto;
}

.containerS a {
  color: greenyellow;
}

.panel-group {
    margin-bottom: auto;
}

.btn-default1 {
    color: #333;
    background-color: #fff0;
    border-color: #ccc0;
}

.selectize-input {
  overflow: inherit;
}

.nav-tabs {
    border-bottom: 0px; 
}


.nav-tabs {
    border-bottom: 0px; 
	padding-bottom: 0px;
}
.panel-group {
    margin-bottom: auto;
}

div.datatables {
    color: #333;
    background-color: #fff;
    padding: 5px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: #bc2929;
    border: 1px solid white;
    /* border-bottom-color: transparent; */
}

.nav-tabs>li>a, .nav-tabs>li>a:hover{
    background-color: #e89696;
}

.nav > li > a {
    color: white;
}

div.divClassSideBar {
 background-color: white;
 opacity: 0.9;
 color: black;
 font-weight: bold;
 padding: 15px 15px 15px 15px;
}